<!-- header.html -->
 <link rel="stylesheet" href="./components/style.css">
<aside class="sidebar">
    <div class="header">
      <div class="logo">
        <div class="logo-icon">
          <img src="/assets/image/icone-logo.png" class="logo-icone-img">
        </div>
        <div class="logo-text">
          <img src="/assets/image/escrita-logo.png" class="logo-escrita-img">
        </div>
      </div>
      
      <div class="keyboard-shortcut">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
    </div>
  
  <nav class="nav-menu">
    <a href="/pages/home.html" class="nav-item">
      <i class="fas fa-globe"></i>
      <span>Central</span>
    </a>
    <a href="/pages/cadastros/proprietarios/proprietarios.html" class="nav-item">
      <i class="fas fa-user"></i>
      <span>Proprietários</span>
    </a>
    <a href="/pages/cadastros/inquilinos/inquilinos.html" class="nav-item">
      <i class="fas fa-users"></i>
      <span>Inquilinos</span>
    </a>
    <a href="/pages/cadastros/imoveis/imoveis.html" class="nav-item">
      <i class="fas fa-house"></i>
      <span>Imóveis</span>
    </a>
    <a href="/pages/cadastros/inventarios/inventario.html" class="nav-item">
      <i class="fa-solid fa-couch"></i>
      <span>Inventário</span>
    </a>
    <a href="/pages/cadastros/laudoVistoria/laudoVistoria.html" class="nav-item">
      <i class="fas fa-clipboard-check"></i>
      <span>Laudo de Vistoria</span>
    </a>
    <a href="#" class="nav-item">
      <i class="fas fa-key"></i>
      <span>Aluguéis</span>
    </a>
    <a href="/pages/ferramentas/indices.html" class="nav-item">
      <i class="fas fa-chart-line"></i> 
      <span>Índices</span>
    </a>
    <a href="#" class="nav-item">
      <i class="fas fa-cog"></i>
      <span>Configurações</span>
    </a>
  </nav>
  
  </aside>
  <header class="main-header">
  
    <div class="header-left">
      
      <div class="company-selector" id="company-selector-trigger">
        <div class="current-company">
          <img src="../assets/image/logo-empresa-a.png" alt="Empresa" class="company-img">
          <div class="company-info">
            <span class="company-name" id="selected-company-name">Empresa 1</span>
            <span class="company-status">Filial 01</span>
          </div>
          <i class="fas fa-chevron-down arrow-icon"></i>
        </div>
  
        <div class="company-dropdown-menu">
          <div class="company-option active" onclick="selectCompany('Imobiliária Matriz', 'Filial 01', this)">
            <img src="../assets/image/logo-empresa-a.png">
            <div>
              <span class="opt-name">Empresa 1</span>
              <span class="opt-role">Filial 01</span>
            </div>
            <i class="fas fa-check check-icon"></i>
          </div>
  
          <div class="company-option" onclick="selectCompany('Imobiliária Centro', 'Filial 02', this)">
            <img src="../assets/image/logo-empresa-b.png"> <div>
              <span class="opt-name">Imobiliária Centro</span>
              <span class="opt-role">Filial 02</span>
            </div>
          </div>
          
          <div class="dropdown-divider"></div>
          
          <div class="company-option add-new">
            <div class="icon-box"><i class="fas fa-plus"></i></div>
            <span>Adicionar nova empresa</span>
          </div>
        </div>
      </div>
  
      <div class="search-wrapper">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Pesquisar..." />
      </div>
    </div>
  
    <div class="header-right">
      <div class="notification-icon">
        <i class="fas fa-bell"></i>
        <span class="notif-dot"></span>
      </div>
      <div class="atalho-icon">
        <i class="fas fa-grip-horizontal" style="width: 20px;"></i> 
      </div>
      <div class="user-info-header" id="user-menu-trigger">
        <img src="https://via.placeholder.com/40" class="user-avatar-header">
        <div class="user-details">
          <span class="user-name">Teste T.</span>
          <span class="user-role">Admin</span>
        </div>
      </div>
    </div>
  </header>
  
